.WebDesign {
  position: relative;
  width: 640px;
  height: 107px;
  margin: auto;
}

.Infographie {
  position: relative;
  width: 640px;
  height: 107px;
  margin: auto;
}

.WebDesign:hover .Overlay {
  width: 100%;
  left: 0;
}

.Infographie:hover .Overlay2 {
  width: 100%;
  left: 0;
}

.Overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 107px;
  width: 0;
  transition: 0.8s ease;
  overflow: hidden;
  background-image: url(Images/WebDesign_Hover.png);
}

.Overlay2 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 107px;
  width: 0;
  transition: 0.8s ease;
  overflow: hidden;
  background-image: url(Images/Infographie_Hover.png);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image:hover {
  filter: none;
}

.logo {
  display: block;
  width: 8%;
  height: 8%;
  margin: auto;
  margin-bottom: 50px;
}

html {
  background-color: #181818;
}
